{% extends 'base.html' %}

{% block title %}
{{all_entity[0][0]}}
{% endblock %}

{% block content %}
<div class="text-center">
    <div class="table-block">
        <div class="text-center">
            <h2>Связи между объектами</h2>
            {% for entity in all_entity %}
            <div class="d-flex  justify-content-between">
                <div class="p-2 bd-highlight"><h4 style="border: 1px solid white;border-radius:10px; padding: 5px;">{{entity[0]}}</h4></div>
                <div class="p-2 bd-highlight"><h4>------ {{entity[1]}} ----></h4></div>
                <div class="p-2 bd-highlight"><h4 style="border: 1px solid white;border-radius:10px; padding: 5px;">{{entity[2]}}</h4></div>
            </div>
            {% endfor %}
            <!--            {{all_entity}}-->
        </div>
    </div>
</div>
{% endblock %}
